<ion-app>
  <ion-split-pane>
    <ion-menu side="end" menuId="custom" *ngIf="loginok()">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-content>
          <ion-list>
            <ion-item>Mi perfil</ion-item>
            <ion-item type="button" (click)="goToAddTemplo()" *ngIf="permisionsEditUser()">Añadir templo</ion-item>
            <ion-item *ngIf="permisionsEditUser()" (click)="goToAddCarved()">Añadir talla</ion-item>
            <ion-item *ngIf="permisionsAdminUser()">Gestionar usuarios</ion-item>
          </ion-list>
          <ion-button expand="full" color="secondary" (click)="logOut()">Logout</ion-button>
        </ion-content>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>