<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Añadir talla</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-button color="dark" expand="full" type="button" (click)="openCapture()">Añadir imagen</ion-button>
    <ion-img src="{{image}}" *ngIf="image!=null"></ion-img>
    <ion-button color="dark" expand="full" type="button" [disabled]="disableButton()" (click)="saveCarved()">Guardar</ion-button>

</ion-content>