<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="..\..\assets\icon\Logo.png" id="icon"></ion-img>
  <ion-label text-center class="marginTop10 padding6px" color="dark">Correo</ion-label>
  <ion-input text-center type="email" [(ngModel)]="email"></ion-input>
  <ion-button expand="full" color="secondary" (click)="recover()">Recuperar contraseña</ion-button>
  <ion-label text-center class="marginTop10" (click)="closeModal()">Volver a pantalla acceso</ion-label>
</ion-content>