ion-input{
    background-color: #D1DDBD;
}

ion-label{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div{
    background-color: var(--ion-color-light);
}
ion-input{
    background-color: #fafbfd;
    color:black;
}