<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light" text-center>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-img src="..\..\assets\icon\Logo.png" id="icon"></ion-img>
  <ion-label text-center color="dark">Correo</ion-label>
  <ion-input text-center type="email" name="email" [(ngModel)]="email"></ion-input>
  <ion-label text-center color="dark">Contraseña</ion-label>
  <ion-input text-center type="password" name="password" [(ngModel)]="password"></ion-input>
  <ion-button expand="full" color="secondary" (click)="login()">Acceder</ion-button>
  <ion-label text-center (click)="presentActionSheet()">Opciones de usuario</ion-label>
</ion-content>