<ion-header>
  <ion-toolbar>
    <ion-title>Añadir talla</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formCarved" (ngSubmit)="savePart1()">
    <ion-card>
      <ion-card-header no-padding>
        <ion-card-title text-center margin-top>Nombre</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input minlength="1" maxlength="60" formControlName="name" type="text" (ionChange)="sizeInputs()">
        </ion-input>
        <span>{{countName}}</span>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header no-padding>
        <ion-card-title text-center margin-top>Autor</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input minlength="1" maxlength="60" formControlName="author" type="text" (ionChange)="sizeInputs()">
        </ion-input>
        <span>{{countAuthor}}</span>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header no-padding>
        <ion-card-title text-center margin-top>Año de hechura</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input minlength="1" maxlength="60" formControlName="ageOfCarved" type="text" (ionChange)="sizeInputs()">
        </ion-input>
        <span>{{countAgeOfCarved}}</span>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header no-padding>
        <ion-card-title text-center margin-top>Estilo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input minlength="1" maxlength="60" formControlName="style" type="text" (ionChange)="sizeInputs()">
        </ion-input>
        <span>{{countStyle}}</span>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header no-padding>
        <ion-card-title text-center margin-top>Material</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input minlength="1" maxlength="60" formControlName="material" type="text" (ionChange)="sizeInputs()">
        </ion-input>
        <span>{{countMaterial}}</span>
      </ion-card-content>
    </ion-card>
    <ion-button color="dark" expand="full" type="submit" [disabled]="!formCarved.valid">Siguiente</ion-button>
    <ion-button color="dark" expand="full" type="button" (click)="cancel()">Cancelar</ion-button>
  </form>
</ion-content>